<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thinkbiz.solutions.tbs.com">

    <!-- package="com.example.tbs.com" -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardDetailsPkg.CardDetails"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardDetailsPkg.GotoSIte"
            android:parentActivityName=".CardDetailsPkg.CardDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardDetailsPkg.DialogActivity"
            android:parentActivityName=".CardDetailsPkg.CardDetails" />
        <activity
            android:name=".CardDetailsPkg.SeeAllOptions"
            android:parentActivityName=".CardDetailsPkg.DialogActivity" />
        <activity
            android:name=".AutoEditTextActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryItems.ParentActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoryItems.ChildActivity"
            android:parentActivityName=".CategoryItems.ParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoryItems.Sub_ChildActivity"
            android:parentActivityName=".CategoryItems.ChildActivity" />
        <activity
            android:name=".Options.MoreOptionActivity"
            android:parentActivityName=".CardDetailsPkg.CardDetails" />
        <activity android:name=".BottomBar.Activity1" />
        <activity android:name=".BottomBar.Activity2" />
        <activity android:name=".BottomBar.Activity3" />
        <activity android:name=".BottomBar.Activity4" />
        <activity android:name=".CardDetailsPkg.ColorActivity" />
        <activity android:name=".CardDetailsPkg.StorageActivity" />
        <activity android:name=".CardDetailsPkg.NetworkActivity" />
        <activity
            android:name=".CategoryItems.GridActivity"
            android:parentActivityName=".CategoryItems.ChildActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DetailPage.DetailPageActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>